<div id="aboutMe" class="pageContent">
     {% load static %}
    <div id="headshotContainer"><img src="{% static 'frontEnd/images/headshotSquare.jpg' %}" id="headshot"></div>
    <div class="contentHeadline" id="aboutMeHeadline"><h1>Helenka Casler, PhD</h1></div>

    <!-- intro -->
    <div class="aboutMeContent">
            I'm Helenka Casler. I am a software engineer with a PhD in Physics from the City University of New York.
    </div>
    <div class="aboutMeContent">
            My experience is in backend development. I'm comfortable with Java, Python, C++, and SQL, and I've used a number of frameworks and tools, like Spring and Maven. In graduate school, I used C++ for simulations and Python for calculations and data analysis. However, as you can see from this website I put together, I can do a little frontend work in a pinch. I'm always open to a new challenge.
    </div>
    <div class="aboutMeContent">
            When I'm not at work, I love going to the gym and learning new things &mdash; online courses and learning apps are my jam! Right now, I'm learning more about cloud infrastructure with edX, and I'm learning Italian with Mango.
    </div>
</div>
