<div id="softwareEngineering" class="pageContent">
    <div class="contentHeadline"><h1>Software Engineering Experience</h1></div>

    <!-- skill summary -->
    <div class="contentSection">
        <h3>I have a broad range of technical skills.</h3>
        <p>I have honed my skills in industry and academia, and in a life of truly enjoying coding. On this page I talk a little bit about these skills and where they came from, but there are also a few technologies that I have worked with for so long that I couldn't tell you exactly how I got started with them. These are:
            <ul>
                <li> Linux: I have been using some flavor of Linux on my personal and work computers at least since 2010</li>
                <li> Python: my main language for calculations, data analysis, and testing things out. I probably started using it around 2010 </li>
                <li> Git: I have been using git almost as long as I've used Python</li>
            </ul>
        </p>
    </div>

    <!-- industry experience -->
    <div class="contentSection">
        <h3>I have industry experience in backend development and streaming media.</h3>
        <p>My first professional engineering role was in consumer cloud storage, where I was part of the API development team. One of my major projects was developing a streaming media solution, so users could view their own stored videos from any device. This meant learning all aspects of the streaming process, from the basics of streaming protocols, to how to extract the correct data from storage at the correct moment, to how to process new videos for optimized streaming. Other projects included designing an editable photo album feature, and adding synchronous in-browser notifications for users. Some of the skills I gained from this role include:
            <ul>
                <li> Java, Spring, and Maven</li>
                <li> SQL </li>
                <li> Video-on-demand streaming</li>
                <li> Agile development</li>
                <li> Unit testing</li>
            </ul>
        </p>
    </div>

    <!-- industry experience -->
    <div class="contentSection">
        <h3>I built a suite of additional coding and continuous integration skills during my graduate studies.</h3>
        <p>High-energy physics experiments create large codebases for simulation and data analysis, and my work involved contributing to this code in several ways. First, I developed a simulation model of my subsystem in code and integrated it into the broader experiment's simulation code. Additionally, I took on the role of Continuous Integration Manager for the experimental collaboration, putting me in charge of our system for ensuring new code contributions could be safely merged in. I took the opportunity to make some improvements to the CI system, including adding a testing process to a new repository, improving system messaging to developers, and updating documentation. Some of the skills I gained from this role include:
            <ul>
                <li> C++ and Geant4</li>
                <li> Bash scripting</li>
                <li> ROOT </li>
                <li> Jenkins workflows</li>
                <li> the GitHub API</li>
                <li> integration and end-to-end testing</li>
                <li> LaTeX </li>
            </ul>
        </p>
    </div>

    <!-- contact pitch -->
    <div class="contentSection">
        <h3>If these skills seem like a good fit for your organization, feel free to <a href="#" onclick="displayPageContent('contentPages/contact.html')">contact me</a>, or you can find me on <a href=https://www.linkedin.com/in/helenka-casler/>LinkedIn</a>.</h3>
    </div>
</div>