<div id="contact" class="pageContent">
     {% load static %}
    <div id="headshotContainer"><img src="{% static 'frontEnd/images/headshotSquare.jpg' %}" id="headshot"></div>
    <div class="contentHeadline" id="aboutMeHeadline"><h1>Contact Me</h1></div>
    <div class="aboutMeContent">I am interested in hearing about career opportunities and exciting new projects.</div>
    <div class="aboutMeContent">&#69;m&#x61;&#105;l: c<!--hb-->a&#115;le<!--t7huic-->r&#x2e;<!--lnbfvert-->&#104;el<!--245-->&#x65;nk<!--98un9314c-->a&#x40;g&#x6d;<!--982  n5v-->a&#x69;l<!--84trbc981-->&#46;c<!-- kvuf  uf  -->o&#109;</div>
    <div class="aboutMeContent">LinkedIn: <a href=https://www.linkedin.com/in/helenka-casler/>my LinkedIn profile</a></div>
    <div class="aboutMeContent">GitHub: <a href=https://github.com/HCasler>my GitHub profile</a></div>
    <div class="aboutMeContent">Mastodon: <a rel="me" href="https://hachyderm.io/@hcasler">hachyderm.io</a></div>
    <div class="aboutMeContent">You can also find my scientific publications on <a href=https://inspirehep.net/authors/1671346>INSPIRE</a> and <a href=https://orcid.org/0000-0002-9548-3193>ORCID</a></div>
</div>