<div id="publications" class="pageContent">
    <div class="contentHeadline"><h1>Selected Publications</h1></div>
    
    <!-- ILC paper -->
    <div class="contentSection">
      <p><b>
        <a href="https://inspirehep.net/literature/1718776">
          <h3>Reconstruction of top quark pair dilepton decays in electron-positron collisions</h3>
        </a>
      </b></p>
      
        <p><a href="https://inspirehep.net/authors/1671346">Helenka Casler</a> (<a href="https://inspirehep.net/institutions/907436">CUNY, Graduate School - U. Ctr.</a>), <a href="https://inspirehep.net/authors/2469818">Matthew Manganel</a> (<a href="https://inspirehep.net/institutions/903068">New York U., Courant Inst.</a>), <a href="https://inspirehep.net/authors/1067079">Miguel C.N. Fiolhais</a> (<a href="https://inspirehep.net/institutions/902735">City Coll., N.Y.</a> and <a href="https://inspirehep.net/institutions/908065">LIP, Coimbra</a>), <a href="https://inspirehep.net/authors/1020854">Andrea Ferroglia</a> (<a href="https://inspirehep.net/institutions/907436">CUNY, Graduate School - U. Ctr.</a> and <a href="https://inspirehep.net/institutions/902735">City Coll., N.Y.</a>), <a href="https://inspirehep.net/authors/994850">António Onofre</a> (<a href="https://inspirehep.net/institutions/905617">Minho U.</a>)</p>
      
      <p>
          e-Print:
              <a href="https://arxiv.org/abs/1902.01976">
          1902.01976
        </a>[hep-ex]</p>
      <p>
            DOI:
            <a href="https://doi.org/10.1103/PhysRevD.99.054011">
          10.1103/PhysRevD.99.054011
        </a>
          </p>
      <p>
        Published in:<span>
          Phys.Rev.D 99 (2019) 5,
          054011</span></p>
      <!--<br>-->
      <p>My first publication. Certain electron-positron collisions result in a neutrino-antineutrino pair, among other products. Neutrinos are notoriously difficult to detect, and their momenta are usually calculated from the "missing momentum" from the rest of the system. However, when there are two neutrinos, all that tells you is the sum of both neutrinos' momenta, not the individual momentum of each one. In this paper, we developed two different methods of calculating these individual momenta using Python.</p>
    </div>

    <!-- NuFACT proceedings -->
    <div class="contentSection">
      <p><b>
        <a href="https://inspirehep.net/literature/1790789">
          <h3>Mu2e Muon Beam Optimization</h3>
        </a>
      </b></p>
      
        <p><span>Mu2e
                Collaboration
          </span>
          <span>&bull;</span>
            <a href="https://inspirehep.net/authors/1671346">Helenka Casler</a> (<a href="https://inspirehep.net/institutions/907436">CUNY, Graduate School - U. Ctr.</a>) for the collaboration.</p>
      
      <p>
            DOI:
            <a href="https://doi.org/10.22323/1.369.0127">
          10.22323/1.369.0127
        </a>
          </p>
      <p>
        Published in:<span>
          PoS NuFact2019 (2020),
          127</span></p>
      <!--<br>-->
      <p>Proceedings from a talk I gave at NuFACT, an international conference on neutrino and muon physics, in Daegu, Korea in 2019. After a quick overview of the Mu2e experiment, I describe the process by which Mu2e will create its beam of muons, and how it will optimize this beam for the purposes of the experiment. This will involve selecting muons with a specific charge and low momentum, and excluding any particles that do not fit this description.</p>
    </div>

    <!-- dissertation -->
    <div class="contentSection">
      <p><b>
        <a href="https://inspirehep.net/literature/2626014">
          <h3>Beam-Based Target Alignment for Mu2e</h3>
        </a>
      </b></p>
      
        <p><a href="https://inspirehep.net/authors/1671346">Helenka Irene Casler</a> (<a href="https://inspirehep.net/institutions/907436">CUNY, Graduate School - U. Ctr.</a>)</p>

        <p>
            e-Print:
            <a href="https://academicworks.cuny.edu/gc_etds/5211">
          CUNY Academic Works
        </a>
          </p>
      
      <p>
        Published in:<span>
          CUNY Academic Works</span></p>
      <!--<br>-->
      <p>My PhD thesis! The culmination of many years of hard work. Here, I first discuss the history and motivation of the Mu2e experiment, and give an overview of how it works. Then, I illustrate why we need a system to align the proton beam, and the requirements of the system. I explain the type of detectors chosen and why. Finally, I give the procedure by which these detectors will be used to align the beam, and the many sets of simulations and tests run to develop this procedure.</p>
    </div>

    <!-- sensitivity paper 
    <div class="contentSection">
      <p><b>
        <a href="https://inspirehep.net/literature/2167920">
          <h3>Mu2e Run I Sensitivity Projections for the Neutrinoless $\mu^- \to e^-$ Conversion Search in Aluminum</h3>
        </a>
      </b></p>
      
        <p>
            <span>Mu2e
                Collaboration
          </span>
              <span>&bull;</span>
            <a href="https://inspirehep.net/authors/2168593">F. Abdi</a> (<a href="https://inspirehep.net/institutions/903010">Minnesota U.</a>) et al.</p>
      
      <p>
          e-Print:
              <a href="https://arxiv.org/abs/2210.11380">
          2210.11380
        </a>[hep-ex]</p>
      <p>
            DOI:
            <a href="https://doi.org/10.3390/universe9010054">
          10.3390/universe9010054
        </a>
          </p>
      <p>
        Published in:<span>
          Universe 9 (2023) 1,
          54</span></p>
      !--<br>->
      <p>A collaboration-wide paper on the expected sensitivity of the Mu2e experiment's first run. I can't take credit for any of the writing in this one; however, the projected sensitivity depends on all subsystems in the experiment, including the ones I worked on: the pion production target station and the stopping target monitor.</p>
    </div>
    -->
</div>