<div id="publications" class="pageContent">
    <div class="contentHeadline"><h1>Selected Publications</h1></div>
    
    {{ pageText.text | safe }}
    <!-- sensitivity paper 
    <div class="contentSection">
      <p><b>
        <a href="https://inspirehep.net/literature/2167920">
          <h3>Mu2e Run I Sensitivity Projections for the Neutrinoless $\mu^- \to e^-$ Conversion Search in Aluminum</h3>
        </a>
      </b></p>
      
        <p>
            <span>Mu2e
                Collaboration
          </span>
              <span>&bull;</span>
            <a href="https://inspirehep.net/authors/2168593">F. Abdi</a> (<a href="https://inspirehep.net/institutions/903010">Minnesota U.</a>) et al.</p>
      
      <p>
          e-Print:
              <a href="https://arxiv.org/abs/2210.11380">
          2210.11380
        </a>[hep-ex]</p>
      <p>
            DOI:
            <a href="https://doi.org/10.3390/universe9010054">
          10.3390/universe9010054
        </a>
          </p>
      <p>
        Published in:<span>
          Universe 9 (2023) 1,
          54</span></p>
      !--<br>->
      <p>A collaboration-wide paper on the expected sensitivity of the Mu2e experiment's first run. I can't take credit for any of the writing in this one; however, the projected sensitivity depends on all subsystems in the experiment, including the ones I worked on: the pion production target station and the stopping target monitor.</p>
    </div>
    -->
</div>