<div id="videoDemo" class="pageContent">
    {% load static %}
    <div class="contentHeadline"><h1>Video Streaming Demo</h1></div>
    <div class="aboutMeContent">
        <p>Click play on the video below</p>
        <h3 id="demoVideoTitle"></h3>
        <p id="videoCredit"></p>
    </div>
         <video id="videoDemoPlayer" controls>
            <!--<source src="video/1/manifest.m3u8"> type="application/vnd.apple.mpegurl">-->
            Your browser does not support the video tag.
        </video> 
    

    <!-- skill summary -->
    <div class="contentSection">
        <h3>This video was streamed using the HLS (HTTP Live Streaming) protocol</h3>
        <p>I'm going to put some text here giving a brief explanantion and links for more info.
        </p>
    </div>
</div>