 <!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Helenka Casler</title>
    <link rel="icon" type="image/x-icon" href="{% static 'frontEnd/icons/favicon.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'frontEnd/stylesheets/styles.css' %}">
    <link rel="stylesheet" href="{% static 'frontEnd/stylesheets/colors.css' %}">
    <script type="text/javascript" src="{% static 'frontEnd/scripts/functions.js' %}"></script>
</head>

<body>
    <div id="pageHeader">
        <!-- will go across top -->
        <div id="topNameBox"><a href="{% url 'index' %}" id=topNameLink>Helenka Casler</a></div>
        <div id="socialIcons"><a rel="me" href=https://hachyderm.io/@hcasler><img class=socialIcon src="{% static 'frontEnd/icons/mastodon_logo-white.svg' %}"></a>&nbsp;<a href=https://www.linkedin.com/in/helenka-casler/><img class=socialIcon src="{% static 'frontEnd/icons/In-White-96@2x.png' %}"></a></div>
    </div>

    <div id="mainSection">
        <!-- everything other than the header -->
        <div id="navbar">
            <!-- down side -->
            <a href="#" onclick="displayPageContent('{% url "aboutMe" %}')"><div class="navLink">About Me</div></a>
            <a href="#" onclick="displayPageContent('{% url "coding" %}')"><div class="navLink">Software Engineering</div></a>
            <a href="#" onclick="displayPageContent('{% url "videoDemo" %}')"><div class="navLink">Video Streaming Demo</div></a>
            <a href="#" onclick="displayPageContent('{% url "research" %}')"><div class="navLink">My PhD Research</div></a>
            <a href="#" onclick="displayPageContent('{% url "publications" %}')"><div class="navLink">Publications</div></a>
            <a href="#" onclick="displayPageContent('{% url "contact" %}')"><div class="navLink">Contact</div></a>
        </div>
        <div id="content">
            <!-- main content display -->
            Hello, world!
        </div>
    </div>
    <script type="text/javascript">displayPageContent('{% url "defaultSubPage" %}')</script>
</body>
</html> 
